In [64]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

df= pd.read_csv(r"C:\Users\MONSTER\Desktop\Audi_A1_listings.csv")

In [65]:
df.head(3)

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642

In [66]:
# Lineer modelimde işe yaramayacak gereksiz şeyleri siliyoruz

In [67]:
df=df.drop(columns=['index','href',"PPY",'MileageRank','PriceRank','PPYRank','Score'])

In [68]:
df.head(3)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£)
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0

In [69]:
#y = ax + b

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              471 non-null    float64
 1   Type              471 non-null    object
 2   Mileage(miles)    471 non-null    float64
 3   Engine            471 non-null    object
 4   PS                471 non-null    float64
 5   Transmission      471 non-null    object
 6   Fuel              471 non-null    object
 7   Number_of_Owners  471 non-null    int64
 8   Price(£)          471 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 33.2+ KB

In [74]:
df.columns=["yil","kasa","mil","motor","ps","vites","yakit","sahip","fiyat"]

In [75]:
df.head(3)

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0

In [76]:
df["motor"] = df["motor"].str.replace("L","")

In [77]:
df["motor"] = pd.to_numeric(df["motor"])

In [78]:
df.head(3)

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat
0,2018.0,Hatchback,44000.0,1.6,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4,123.274162,Manual,Petrol,2,10799.0

In [79]:
df = pd.get_dummies(df, columns = ["kasa","vites", "yakit"], drop_first = True)

In [80]:
df.head(3)

,yil,mil,motor,ps,sahip,fiyat,vites_Manual,yakit_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,1,0
1,2016.0,42596.0,1.0,93.688363,3,10755.0,1,1
2,2015.0,42700.0,1.4,123.274162,2,10799.0,1,1

In [81]:
y = df[["fiyat"]]
x = df.drop("fiyat", axis = 1)

In [82]:
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size = 0.70, random_state = 22)

In [83]:
lm = LinearRegression()
model = lm.fit(x_train, y_train)
model.score(x_test, y_test)

0.9065438569490181

In [84]:
df.head(3)

,yil,mil,motor,ps,sahip,fiyat,vites_Manual,yakit_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,1,0
1,2016.0,42596.0,1.0,93.688363,3,10755.0,1,1
2,2015.0,42700.0,1.4,123.274162,2,10799.0,1,1

In [85]:
#lm = LinearRegression()
#model = lm.fit(x,y)
#model.score(x,y)

In [88]:
model.predict([[2014,60000,1.0,70, 3, 0, 0]])

C:\Users\MONSTER\emirturker\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[9243.27597534]])